Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2021-08-23, S. Haug, University of Bern.

Prerequisite for this notebook is some basic Python experience. 

Please also look at the first batch of [these slides](https://docs.google.com/presentation/d/1BrlQQGDnEpr8lBiEd9uO-Kw2-WOInAEP-cv-xdUwB4Y/edit?usp=sharing) before doing this notebook. They offer an introduction to data.

# 1. Data Management

Estimated study time is up to 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides via link above)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality
- Able to plot histograms and scatter plots in Python (tomorrow)

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter lab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting 
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data my be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. hard disk. This part of the data management is normally taken care of by engineers. 

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills. 

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned and prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc. 
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.  

**In this notebook we only look at a few examples on how to do datamanagement with dataframes. Pandas are extremly powerful and we cannot show everything in a couple of hours. You will become more and more experienced when you work on your module projects. Probably whatever you want to do with your dataframe, there is a way to do it. If not, it probably doesn't make much sense what wou want to do.**

Any questions?

### 1. Getting used to Jupyter computational notebooks and Colab

With Jupyter you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster. 

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option Enter = Run cell and Insert new cell below

*Exercises (10 min)*
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs in the menu of your jupyter (lab) notebook

In [ ]:
# Write some more Python code here
number = 5*5
print('Number is', number, "bla")
for i in range(10):
  print('Number %1.0f' % i)

Number is 25 bla
Number 0
Number 1
Number 2
Number 3
Number 4
Number 5
Number 6
Number 7
Number 8
Number 9

### 2. Import a dataset into a Pandas DataFrame

Pandas is a Python Module/Library for data analysis and manipulation. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data manipulation with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code parts written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading EXCEL, SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [ ]:
# Upload the local data file to colab
from google.colab import files
uploaded = files.upload()

Saving iris.csv to iris (7).csv

In [ ]:
# import the python module pandas with the abbreviation pd
import pandas as pd
dataframe = pd.read_csv('iris.csv')

#Alternative über URL
#url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
#dataframe = pd.read_csv(url, names=['slength', 'swidth','plength', 'pwidth', 'species'])
dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

The dataframe method shows 50 rows per default. We can change this as we like:

In [ ]:
pd.set_option('display.max_rows',None)
#To show all rows: 
#dataframe
dataframe.head(50)
dataframe.info()
dataframe[20:25]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

    sepal_length  sepal_width  petal_length  petal_width species
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa

Find out on wikipedia what this Iris data is about.

### Hint

There are some ways to get help about modules and methods in Jupyter:

In [ ]:
pd.read_csv?

Get help about this object, if there is any:

In [ ]:
dataframe?

And, what you will probably use the most, the online package information and examples by googling.

### Exercise 1.1 (10 min)

Read the Swiss BAG Corona data on vaccinated persons into a dataframe and look at it. The URL is
https://opendata.swiss/en/dataset/covid-19-schweiz

You will probably need to consult https://pandas.pydata.org/docs/reference/io.html in order to find out how to read a json file into a pandas dataframe.

In [ ]:
# Write your code here
url = 'https://www.covid19.admin.ch/api/data/20210824-jrvdp23s/sources/COVID19FullyVaccPersons_vaccine_v2.json'
df_bag = pd.read_json(url)

In [ ]:
df_bag

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
#Linux Befehle
! pwd
!ls
!ls -l sample_data

/content
'iris (1).csv'	'iris (3).csv'	'iris (5).csv'	'iris (7).csv'	 sample_data
'iris (2).csv'	'iris (4).csv'	'iris (6).csv'	 iris.csv
total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Aug 13 13:35 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Aug 13 13:35 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Aug 13 13:35 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Aug 13 13:35 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

### 3. Indexing on a DataFrame

By methods (we are back to our Iris dataset):

In [8]:
import pandas as pd
#iat = index at
dataframe.iat[-1,0]
dataframe.tail()
dataframe.iat[-1,0]=10

In [6]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
dataframe = pd.read_csv(url, names=['slength', 'swidth','plength', 'pwidth', 'species'])

     slength  swidth  plength  pwidth         species
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149      5.9     3.0      5.1     1.8  Iris-virginica

Indexing a group/subset of the dataframe

In [9]:
#changes in df2 will affect the original dataframe
df2 = dataframe.iloc[0:3,0:2]
#create a copy
df3 = dataframe.copy()

   slength  swidth
0      5.1     3.5
1      4.9     3.0
2      4.7     3.2

**Important** 
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [ ]:
dataframe['slength']

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [15]:
df_setosa = dataframe[dataframe['species']=='Iris-setosa']
df_setosa

    slength  swidth  plength  pwidth      species
0       5.1     3.5      1.4     0.2  Iris-setosa
1       4.9     3.0      1.4     0.2  Iris-setosa
2       4.7     3.2      1.3     0.2  Iris-setosa
3       4.6     3.1      1.5     0.2  Iris-setosa
4       5.0     3.6      1.4     0.2  Iris-setosa
5       5.4     3.9      1.7     0.4  Iris-setosa
6       4.6     3.4      1.4     0.3  Iris-setosa
7       5.0     3.4      1.5     0.2  Iris-setosa
8       4.4     2.9      1.4     0.2  Iris-setosa
9       4.9     3.1      1.5     0.1  Iris-setosa
10      5.4     3.7      1.5     0.2  Iris-setosa
11      4.8     3.4      1.6     0.2  Iris-setosa
12      4.8     3.0      1.4     0.1  Iris-setosa
13      4.3     3.0      1.1     0.1  Iris-setosa
14      5.8     4.0      1.2     0.2  Iris-setosa
15      5.7     4.4      1.5     0.4  Iris-setosa
16      5.4     3.9      1.3     0.4  Iris-setosa
17      5.1     3.5      1.4     0.3  Iris-setosa
18      5.7     3.8      1.7     0.3  Iris-setosa
19      5.1     3.8      1.5     0.3  Iris-setosa
20      5.4     3.4      1.7     0.2  Iris-setosa
21      5.1     3.7      1.5     0.4  Iris-setosa
22      4.6     3.6      1.0     0.2  Iris-setosa
23      5.1     3.3      1.7     0.5  Iris-setosa
24      4.8     3.4      1.9     0.2  Iris-setosa
25      5.0     3.0      1.6     0.2  Iris-setosa
26      5.0     3.4      1.6     0.4  Iris-setosa
27      5.2     3.5      1.5     0.2  Iris-setosa
28      5.2     3.4      1.4     0.2  Iris-setosa
29      4.7     3.2      1.6     0.2  Iris-setosa
30      4.8     3.1      1.6     0.2  Iris-setosa
31      5.4     3.4      1.5     0.4  Iris-setosa
32      5.2     4.1      1.5     0.1  Iris-setosa
33      5.5     4.2      1.4     0.2  Iris-setosa
34      4.9     3.1      1.5     0.1  Iris-setosa
35      5.0     3.2      1.2     0.2  Iris-setosa
36      5.5     3.5      1.3     0.2  Iris-setosa
37      4.9     3.1      1.5     0.1  Iris-setosa
38      4.4     3.0      1.3     0.2  Iris-setosa
39      5.1     3.4      1.5     0.2  Iris-setosa
40      5.0     3.5      1.3     0.3  Iris-setosa
41      4.5     2.3      1.3     0.3  Iris-setosa
42      4.4     3.2      1.3     0.2  Iris-setosa
43      5.0     3.5      1.6     0.6  Iris-setosa
44      5.1     3.8      1.9     0.4  Iris-setosa
45      4.8     3.0      1.4     0.3  Iris-setosa
46      5.1     3.8      1.6     0.2  Iris-setosa
47      4.6     3.2      1.4     0.2  Iris-setosa
48      5.3     3.7      1.5     0.2  Iris-setosa
49      5.0     3.3      1.4     0.2  Iris-setosa

Vectorized dataframe manipulations...

In [21]:
df_setosa['half sl']=df_setosa['slength'].astype('float')/2
df_setosa

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    slength  swidth  plength  pwidth      species  half sl
0       5.1     3.5      1.4     0.2  Iris-setosa     2.55
1       4.9     3.0      1.4     0.2  Iris-setosa     2.45
2       4.7     3.2      1.3     0.2  Iris-setosa     2.35
3       4.6     3.1      1.5     0.2  Iris-setosa     2.30
4       5.0     3.6      1.4     0.2  Iris-setosa     2.50
5       5.4     3.9      1.7     0.4  Iris-setosa     2.70
6       4.6     3.4      1.4     0.3  Iris-setosa     2.30
7       5.0     3.4      1.5     0.2  Iris-setosa     2.50
8       4.4     2.9      1.4     0.2  Iris-setosa     2.20
9       4.9     3.1      1.5     0.1  Iris-setosa     2.45
10      5.4     3.7      1.5     0.2  Iris-setosa     2.70
11      4.8     3.4      1.6     0.2  Iris-setosa     2.40
12      4.8     3.0      1.4     0.1  Iris-setosa     2.40
13      4.3     3.0      1.1     0.1  Iris-setosa     2.15
14      5.8     4.0      1.2     0.2  Iris-setosa     2.90
15      5.7     4.4      1.5     0.4  Iris-setosa     2.85
16      5.4     3.9      1.3     0.4  Iris-setosa     2.70
17      5.1     3.5      1.4     0.3  Iris-setosa     2.55
18      5.7     3.8      1.7     0.3  Iris-setosa     2.85
19      5.1     3.8      1.5     0.3  Iris-setosa     2.55
20      5.4     3.4      1.7     0.2  Iris-setosa     2.70
21      5.1     3.7      1.5     0.4  Iris-setosa     2.55
22      4.6     3.6      1.0     0.2  Iris-setosa     2.30
23      5.1     3.3      1.7     0.5  Iris-setosa     2.55
24      4.8     3.4      1.9     0.2  Iris-setosa     2.40
25      5.0     3.0      1.6     0.2  Iris-setosa     2.50
26      5.0     3.4      1.6     0.4  Iris-setosa     2.50
27      5.2     3.5      1.5     0.2  Iris-setosa     2.60
28      5.2     3.4      1.4     0.2  Iris-setosa     2.60
29      4.7     3.2      1.6     0.2  Iris-setosa     2.35
30      4.8     3.1      1.6     0.2  Iris-setosa     2.40
31      5.4     3.4      1.5     0.4  Iris-setosa     2.70
32      5.2     4.1      1.5     0.1  Iris-setosa     2.60
33      5.5     4.2      1.4     0.2  Iris-setosa     2.75
34      4.9     3.1      1.5     0.1  Iris-setosa     2.45
35      5.0     3.2      1.2     0.2  Iris-setosa     2.50
36      5.5     3.5      1.3     0.2  Iris-setosa     2.75
37      4.9     3.1      1.5     0.1  Iris-setosa     2.45
38      4.4     3.0      1.3     0.2  Iris-setosa     2.20
39      5.1     3.4      1.5     0.2  Iris-setosa     2.55
40      5.0     3.5      1.3     0.3  Iris-setosa     2.50
41      4.5     2.3      1.3     0.3  Iris-setosa     2.25
42      4.4     3.2      1.3     0.2  Iris-setosa     2.20
43      5.0     3.5      1.6     0.6  Iris-setosa     2.50
44      5.1     3.8      1.9     0.4  Iris-setosa     2.55
45      4.8     3.0      1.4     0.3  Iris-setosa     2.40
46      5.1     3.8      1.6     0.2  Iris-setosa     2.55
47      4.6     3.2      1.4     0.2  Iris-setosa     2.30
48      5.3     3.7      1.5     0.2  Iris-setosa     2.65
49      5.0     3.3      1.4     0.2  Iris-setosa     2.50

Grouping ...

In [27]:
g = dataframe.groupby('species')
g.groups
g.ngroups
df_virginica = g.get_group('Iris-virginica')
df_virginica

     slength  swidth  plength  pwidth         species
100      6.3     3.3      6.0     2.5  Iris-virginica
101      5.8     2.7      5.1     1.9  Iris-virginica
102      7.1     3.0      5.9     2.1  Iris-virginica
103      6.3     2.9      5.6     1.8  Iris-virginica
104      6.5     3.0      5.8     2.2  Iris-virginica
105      7.6     3.0      6.6     2.1  Iris-virginica
106      4.9     2.5      4.5     1.7  Iris-virginica
107      7.3     2.9      6.3     1.8  Iris-virginica
108      6.7     2.5      5.8     1.8  Iris-virginica
109      7.2     3.6      6.1     2.5  Iris-virginica
110      6.5     3.2      5.1     2.0  Iris-virginica
111      6.4     2.7      5.3     1.9  Iris-virginica
112      6.8     3.0      5.5     2.1  Iris-virginica
113      5.7     2.5      5.0     2.0  Iris-virginica
114      5.8     2.8      5.1     2.4  Iris-virginica
115      6.4     3.2      5.3     2.3  Iris-virginica
116      6.5     3.0      5.5     1.8  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
118      7.7     2.6      6.9     2.3  Iris-virginica
119      6.0     2.2      5.0     1.5  Iris-virginica
120      6.9     3.2      5.7     2.3  Iris-virginica
121      5.6     2.8      4.9     2.0  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
123      6.3     2.7      4.9     1.8  Iris-virginica
124      6.7     3.3      5.7     2.1  Iris-virginica
125      7.2     3.2      6.0     1.8  Iris-virginica
126      6.2     2.8      4.8     1.8  Iris-virginica
127      6.1     3.0      4.9     1.8  Iris-virginica
128      6.4     2.8      5.6     2.1  Iris-virginica
129      7.2     3.0      5.8     1.6  Iris-virginica
130      7.4     2.8      6.1     1.9  Iris-virginica
131      7.9     3.8      6.4     2.0  Iris-virginica
132      6.4     2.8      5.6     2.2  Iris-virginica
133      6.3     2.8      5.1     1.5  Iris-virginica
134      6.1     2.6      5.6     1.4  Iris-virginica
135      7.7     3.0      6.1     2.3  Iris-virginica
136      6.3     3.4      5.6     2.4  Iris-virginica
137      6.4     3.1      5.5     1.8  Iris-virginica
138      6.0     3.0      4.8     1.8  Iris-virginica
139      6.9     3.1      5.4     2.1  Iris-virginica
140      6.7     3.1      5.6     2.4  Iris-virginica
141      6.9     3.1      5.1     2.3  Iris-virginica
142      5.8     2.7      5.1     1.9  Iris-virginica
143      6.8     3.2      5.9     2.3  Iris-virginica
144      6.7     3.3      5.7     2.5  Iris-virginica
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149     10.0     3.0      5.1     1.8  Iris-virginica

### 4. Sorting on a DataFrame

...

In [33]:
dataframe.sort_values(['slength','swidth'], ascending=False)

     slength  swidth  plength  pwidth         species
149     10.0     3.0      5.1     1.8  Iris-virginica
131      7.9     3.8      6.4     2.0  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
135      7.7     3.0      6.1     2.3  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
..       ...     ...      ...     ...             ...
41       4.5     2.3      1.3     0.3     Iris-setosa
42       4.4     3.2      1.3     0.2     Iris-setosa
38       4.4     3.0      1.3     0.2     Iris-setosa
8        4.4     2.9      1.4     0.2     Iris-setosa
13       4.3     3.0      1.1     0.1     Iris-setosa

[150 rows x 5 columns]

You may measure the time needed for the execution, e.g. with the operating system command "time". System commands are executed with a %:

In [35]:
%time dataframe.sort_values(['slength','swidth'], ascending=False)

CPU times: user 3.2 ms, sys: 0 ns, total: 3.2 ms
Wall time: 3.23 ms

     slength  swidth  plength  pwidth         species
149     10.0     3.0      5.1     1.8  Iris-virginica
131      7.9     3.8      6.4     2.0  Iris-virginica
117      7.7     3.8      6.7     2.2  Iris-virginica
135      7.7     3.0      6.1     2.3  Iris-virginica
122      7.7     2.8      6.7     2.0  Iris-virginica
..       ...     ...      ...     ...             ...
41       4.5     2.3      1.3     0.3     Iris-setosa
42       4.4     3.2      1.3     0.2     Iris-setosa
38       4.4     3.0      1.3     0.2     Iris-setosa
8        4.4     2.9      1.4     0.2     Iris-setosa
13       4.3     3.0      1.1     0.1     Iris-setosa

[150 rows x 5 columns]

### 5. Filtering on a DataFrame
...

In [36]:
df_large = dataframe[dataframe['slength']>5.0]
df_large

     slength  swidth  plength  pwidth         species
0        5.1     3.5      1.4     0.2     Iris-setosa
5        5.4     3.9      1.7     0.4     Iris-setosa
10       5.4     3.7      1.5     0.2     Iris-setosa
14       5.8     4.0      1.2     0.2     Iris-setosa
15       5.7     4.4      1.5     0.4     Iris-setosa
..       ...     ...      ...     ...             ...
145      6.7     3.0      5.2     2.3  Iris-virginica
146      6.3     2.5      5.0     1.9  Iris-virginica
147      6.5     3.0      5.2     2.0  Iris-virginica
148      6.2     3.4      5.4     2.3  Iris-virginica
149     10.0     3.0      5.1     1.8  Iris-virginica

[118 rows x 5 columns]

In [37]:
# We can assign the filtering result to a new dataframe
dataframe.describe()

          slength      swidth     plength      pwidth
count  150.000000  150.000000  150.000000  150.000000
mean     5.870667    3.054000    3.758667    1.198667
std      0.894918    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max     10.000000    4.400000    6.900000    2.500000

In [ ]:
# And print it

### 6. Missing or bad data

Datasets, in particular before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, …])	Remove missing values.
- DataFrame.fillna([value, method, axis, …])	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, …])	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, …])	Interpolate values according to different methods.

Retrieving and cleaning data is often the most time consuming part in a data science project.

### 7. Exporting dataframes

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [43]:
from google.colab import files
dataframe.to_csv('mydata.csv')
files.download("mydata.csv")

In [40]:
!ls -l

total 12
-rw-r--r-- 1 root root 5080 Aug 25 12:44 mydata.csv
drwxr-xr-x 1 root root 4096 Aug 13 13:35 sample_data

What happens with our files when we close our colab session?

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc. 
Metadata is normally not part of the statistical data analysis, however, needed for understanding and reproducibilty. 

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [44]:
dataframe.instrument='ruler'

### Exercise 2

Write down here some minimal metadata about the Iris dataset:

- 
- 
- 
Summary: everything needed for reproduction

(the "dimensions of a numpy table or dataframe is often called the shape). 150x5x3

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module. 

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

In [ ]:
!ls -l newnbdir

### Exercise 3

Read in the iris dataset from iris.csv into a dataframe. Set the values in column 1 in row 39, 49 and 100 to NaN (use the nan method from the numpy package). Then replacethe NaN values to the average value of the respective column. Depending on how you do it, this may be about 10 lines of Python code.

In [ ]:
# Solve your exercise here

### Exercise 4 

Print a sorted list of the weeks and the male deadths with COVID-19 in Switzerland. The weeks with the highest numbers should appear first. This should be doable with about 10 lines of Python. You may need 30 minutes to solve this one.

# End of today - remember to fill the mandatory form

Everyone has to fill this form by 10 pm : https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.